{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLSfEi</title>
    <!--Google Font-->
    <link href="{% static "css/google-font.css"%}" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static "css/style.css" %}
    ">
</head>
<body>
    <div class="container">
        <h1>SLSfEi</h1>
        <form id="form">
            <h3 class="row">Dimensions</h3>
            <p class="row">Each sides should not exceed 8.485 meters</p>
            <div class="row">
                <div class="row">
                    <div class="column">
                        <label for="width">Width (m)</label>
                        <input type="number" step="any" min="0" max="8.485" id="width" placeholder="Width in meters">
                    </div>
                    <div class="column">
                        <label for="height">Height (m)</label>
                        <input type="number" step="any" min="0" max="8.485" id="height" placeholder="Height in meters">
                    </div>
                </div>
            </div>
            <h3 class="row">Numbers</h3>
            <p class="row">Number of marker in each axis</p>
            <div class="row">
                <div class="row">
                    <div class="column">
                        <label for="width">X-Axis Markers</label>
                        <input type="number" id="x_n" placeholder="Number of marker in x-axis">
                    </div>
                    <div class="column">
                        <label for="height">Y-Axis Markers</label>
                        <input type="number" id="y_n" placeholder="Number of marker in y-axis">
                    </div>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    
    <script>
        const form = document.getElementById('form')
        const area_width = document.getElementById('width')
        const area_height = document.getElementById('height')
        const x_number = document.getElementById('x_n')
        const y_number = document.getElementById('y_n')

        form.addEventListener('submit', function(e){
            e.preventDefault();

            const areaWidthValue = area_width.value;
            const areaHeightValue = area_height.value;
            const xNumberValue = x_number.value;
            const yNumberValue = y_number.value;
            
            localStorage.setItem('width-value',areaWidthValue)
            localStorage.setItem('height-value',areaHeightValue)
            localStorage.setItem('x-n-value',xNumberValue)
            localStorage.setItem('y-n-value',yNumberValue)

            window.location.href = "radar";
        })
    </script>
    </div>
</body>
</html>