{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <style type="text/css">
            /*
              This canvas background-color is not controlled by Scrawl-canvas
              — We will hide it in due course
            */
            #canvas-host {
                overflow: hidden;
                border: 1px solid red;
                width: 70vh;
                height: 70vh;
                margin: 0 auto;
                background-color: #444;
                aspect-ratio: 1 / 1;
            }
          </style>
    </head>
<body>

    <h2>Radar Screen</h2>
    <div id="canvas-host">
    </div>

</body>
<script type="text/javascript" src="{% static 'js/websocket_handler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pixi.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/radar.js' %}"></script>
<script type="text/javascript">
    // define event callbacks
    var on_conn_close = (event) => {
        //display.innerText = display.textContent = "connection lost"
    }
    var on_conn_update = (event) => {
        var data = JSON.parse(event.data)[0]["scan_data"];
    }
    var on_conn_timeout = (event) => {
        //display.innerText = display.textContent = "connection timeout"
        hello()
    }

    // initiate websocket handler
    var ws_url = "ws://" + window.location.host + "/ws/ticks/";
    var ticks = new WSHandler(ws_url);
    ticks.set_onmessage(on_conn_update);
    ticks.set_onclose(on_conn_close);
    ticks.set_ontimeout(on_conn_timeout);

</script>
</html>