{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <link rel="stylesheet" href="{% static 'css/google-font.css' %}">
        <link rel="stylesheet" href="{% static 'css/radar.css' %}">
    </head>
<body>
    <div class="container">
        <div class="col border top-radius bottom-radius">
            <div id="header" class="section">
                <p id="connection_status" class="text-center important">connection status</p>
            <div id="canvas-host" class="section row border">
            </div>
            <div id="footer" class="section border">
                <div class="row">
                    <p class="text-center important">markers:&nbsp</p>
                    <p id="marked_marker" class="text-center important">0</p>
                    <p class="text-center important">&nbsp of &nbsp</p>
                    <p id="total_marker" class="text-center important">0</p>
                </div>
            </div>
            <div class="section border">
                <div class="row">
                    <div class="row margin">
                        <p class="text-center">update period: &nbsp</p>
                        <p id="update_period">-1</p>
                    </div>
                    <div class="row margin">
                        <p class="text-center">draw period: &nbsp</p>
                        <p id="draw_period">-1</p>
                    </div>
                    <div class="row margin">
                        <p class="text-center">driver: &nbsp</p>
                        <p id="driver_state">UNKNOWN</p>
                    </div>
                </div>
            </div>
            <div class="section border margin">
                <div class="row margin">
                    <button class="margin" onclick="window.location.href='/';">Home</button>
                    <button id="driver_reset" class="button-reset-driver margin">Reset Driver</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% comment %} Passing data from template to js {% endcomment %}
<script type="text/javascript">
    const host = window.location.protocol + "//" + window.location.host;
    const static_abs_path = (path_str) => {
        return (new URL(path_str, host + "{% get_static_prefix %}")).toString();
    }
    const static_path = (path_str) => {
        return static_abs_path(path_str).substring(host.length)
    }
</script>
<script type="text/javascript" src="{% static 'js/websocket_handler.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pixi.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'js/radar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/marker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</html>