<!DOCTYPE html>
<html>
<body>

<h1>Hello World!</h1>
<ul>
    <li>{{ scan_timestamp }}</li>
    <li>{{ scan_csv }}</li>
</ul>

</body>
<script language="javascript">
    var ws_url = "ws://" + window.location.host + "/ws/ticks/";
    var ticksSocket = new WebSocket(ws_url);
    console.log("run!!")
    ticksSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        console.log("data", data);
        // do whatever required with received data ...
    };
</script>
</html>